
.accordion-button{
    padding: 10px!important;
    background-color: rgba(211, 211, 211, 0.274)!important;
    
    
}
.accordion-button:focus{
    box-shadow: none!important;
}
.accordion{
    margin: 20px!important;
}